{% load static %}
<div class="navbar bg-[#030ac5] shadow-sm">
  <div class="flex-1">
    <a class="flex shrink-0 gap-1.5 items-center text-xl px-2 py-1 rounded font-semibold">
      <img src="{% static 'images/TransparenSee_Logo.png' %}" alt="" class="w-10 rounded-full" />
      <p class="text-base-100">TransparenSee</p>
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1"></ul>
    <label for="my-drawer-3" class="btn drawer-button lg:hidden"> <i data-lucide="menu"></i></label>
  </div>
</div>
