{% extends "app/base.html" %} {% load static %} {% block content %}

<div class="min-h-screen w-full relative">
  <!-- Background -->
  <div
    class="absolute inset-0 z-0"
    style="background: radial-gradient(125% 125% at 50% 10%, #fcf8f8 40%, #030ac5 100%)"
  ></div>

  <div class="relative z-10 min-h-screen flex flex-col items-center">
    <div class="absolute top-10 left-10 inline-flex items-center gap-1.5">
      <img src="{% static 'images/TransparenSee_Logo.png' %}" alt="Logo" class="w-13" />
      <div class="font-bold">
        <h2 class="text-xl">TransparenSee</h2>
        <p class="text-xs text-center">A Blockchain Solution</p>
      </div>
    </div>
    <div class="min-h-screen min-w-full flex flex-col items-center">
      <div class="min-w-full flex flex-col lg:flex-row items-center justify-center flex-1 gap-16 px-6">
        <div class="text-center min-h-full lg:text-left min-w-2xl">
          <h1 class="text-4xl lg:text-6xl font-bold">Welcome Back!</h1>
          <p class="py-6">Enter your username and password to accces your account.</p>
        </div>

        <div class="w-full max-w-md">
          <div class="card bg-white/10 backdrop-blur-lg border border-white/20 shadow-2xl">
            <div class="card-body">
              <div class="text-red-600 mt-2 flex">
                {% if form.errors %} {{ form.non_field_errors }} {% for field in form %} {% for error in field.errors %}
                <p>{{ field.label }} {{ errors }}</p>

                {% endfor %} {% endfor %} {% endif %}
              </div>
              <form class="fieldset" method="post" action="{% url 'login'  %}?next={{ request.GET.next }}">
                {% csrf_token %}
                <label class="label">Username</label>
                <input
                  type="text"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Username"
                  name="username"
                  required
                />

                <label class="label mt-2">Password</label>
                <input
                  type="password"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Password"
                  name="password"
                  required
                />

                <div class="mt-2">
                  <a class="link link-hover">Forgot password?</a>
                </div>

                <button class="btn btn-neutral mt-4" type="submit">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
