{% extends "app/base.html" %} {% load static %} {% block content %}

<div class="min-h-screen w-full relative">
  <!-- Background -->
  <div
    class="absolute inset-0 z-0"
    style="background: radial-gradient(125% 125% at 50% 10%, #fcf8f8 40%, #030ac5 100%)"
  ></div>

  <div class="relative z-10 min-h-screen flex flex-col items-center">
    <div class="absolute top-10 left-10 inline-flex items-center gap-1.5">
      <img src="{% static 'images/TransparenSee_Logo.png' %}" alt="Logo" class="w-13" />
      <div class="font-bold">
        <h2 class="text-xl">TransparenSee</h2>
        <p class="text-xs text-center">A Blockchain Solution</p>
      </div>
    </div>
    <div class="min-h-screen min-w-full flex flex-col items-center">
      <div class="min-w-full flex flex-col lg:flex-row items-center justify-center flex-1 gap-16 px-6">
        <div class="text-center min-h-full lg:text-left min-w-2xl">
          <h1 class="text-4xl lg:text-6xl font-bold">Create Your Account</h1>
          <p class="py-6">Enter valid credentials for creating an acccount.</p>
        </div>

        <div class="w-full max-w-md">
          <div class="card bg-white/10 backdrop-blur-lg border border-white/20 shadow-2xl">
            <div class="card-body">
              {% if form.errors %}
              <div class="alert alert-error text-sm mb-4">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %} {% for field in form %} {% for error in field.errors %}
                <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                {% endfor %} {% endfor %}
              </div>
              {% endif %}
              <form class="fieldset" method="post">
                {% csrf_token %}

                <label class="label">First Name</label>
                <input
                  type="text"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="First Name"
                  name="first_name"
                />

                <label class="label">Last name</label>
                <input
                  type="text"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Last name"
                  name="last_name"
                />

                <label class="label">Username</label>
                <input
                  type="text"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Username"
                  name="username"
                />

                <label class="label">Email</label>
                <input
                  type="email"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Email"
                  name="email"
                />

                <label class="label mt-2">Password</label>
                <input
                  type="password"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Password"
                  name="password1"
                  autocomplete="off"
                />

                <label class="label mt-2">Confirm Password</label>
                <input
                  type="password"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Confirm Password"
                  autocomplete="off"
                  name="password2"
                />

                <label>Organization</label>
                <div class="select select-bordered w-full border border-black/20">{{ form.organization }}</div>

                <label class="label mt-2">Position</label>
                <input
                  type="text"
                  class="input w-full bg-white/10 backdrop-blur-lg border border-black/20"
                  placeholder="Position"
                  name="position"
                />
                <label class="label mt-2">Role</label>
                <select name="role" class="select select-bordered w-full">
                  <option disabled selected>-- Select Role --</option>
                  <option value="student">Student</option>
                  <option value="treasurer">Treasurer</option>
                  <option value="auditor">Auditor</option>
                  <option value="president">President</option>
                  <option value="adviser">Adviser</option>
                  <option value="campus_admin">Campus Admin</option>
                </select>

                <button class="btn btn-neutral mt-4" type="submit">Signup</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
